main h1{
    text-align: center;
}


table, td, th{
    border: 2px solid rgb(9, 53, 69);
    padding: 10px;
}
table{
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 0 10px black;
}


thead{
    background-color: rgb(9, 53, 69);
}

tbody{
    background-color: rgb(9, 32, 42);
}

tbody>tr td:nth-child(2){
    text-align: center;
    color: rgb(12, 168, 215);
}

tbody>tr td:nth-child(2) strong{
    color: rgb(255, 197, 2);
}
